Language:        Cpp
BasedOnStyle:    LLVM
ColumnLimit:     110
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
SortIncludes:    false
